/* ? styling the container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* !Style the color box */
 #color-box {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin-bottom: 20px;
}

/*  ?Style the button */
#change-color-btn {
    padding: 5px 15px;
    font-size: 15px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#change-color-btn:hover {
    background-color: #0056b3;
}